# Model Path
MODEL_PATH=./app/model.pkl

# API Keys
GRADIO_API_KEY=replace_with_your_secret_key_here
ADMIN_API_KEY=replace_with_admin_secret_key_here

# Server IP
SERVER_IP=171.32.0.1

# API settings
API_PORT=8000
API_HOST=0.0.0.0

# Rate limit
RATE_LIMIT=100/minute